/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
  }
  
  body {
    display: flex;
    margin: 0;
    padding: 0;
    background-image: url(img/Diseño\ sin\ título\ \(6\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 94vh;
    align-content: space-around;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    height: 695px;
    background: #fff;
    padding: 64px;
    width: 80%;
    max-width: 700px;
    border-radius: 8px;
    box-shadow: 3px 7px 9px rgb(0 0 0 / 55%)
  }
  
  .modal-footer {
    margin-top: 22px;
    text-align: center;
    /* padding-top: 100px; */
  }
  
  /* Estilos de los elementos del modal */
  .modal h4 {
    margin-top: 0;
    font-size: 34px;
  }
  
  label {
    font-size: 35px;
    font-weight: 500;
    margin-top: 14px;
  }
  
  input[type="text"],
  input[type="date"] {
    font-size: 26px;
    margin-bottom: 19px;
    width: 100%;
    padding: 21px;
    margin-top: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    font-size: 30px;
    background-color: #b97f77;
    color: white;
    padding: 22px 43px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}
  
  
 
  .containermod{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cardcointainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #companyLogo{
    width: 314px;
  }
  #voucherCard{
    justify-content: space-around;
    height:1000px ;
    width: 737px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #showHistory{
    margin-top: 247px;
    background-color:#8c938f;
  }.center-button {
    display: block;
    margin: auto;
    margin-top: -380px;
  }
  #voucherCard {
    margin-bottom: 32px;
    background: #ffffff; /* Fondo blanco */
    border: 2px solid #ccc; /* Borde gris */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 50px; /* Espaciado interno */
    text-align: center; /* Centrar el contenido de texto */
    font-size: 18px; /* Tamaño de fuente general */
    color: #333; /* Color de texto */
  }
  #voucherCard {
  
    background-image: url('img/alexander-grey-NkQD-RHhbvY-unsplash.jpg');
    background-size: cover; /* Esto hará que la imagen cubra todo el contenedor */
    background-position: center; /* Esto centrará la imagen */
  }
  
  #qrcode img{
    display: flex;
    width: 200px;
  }

  
  #qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #toText, #fromText, #validUntilText{
    font-size: 38px; 
color: #363636;
  }
  html body.swal2-height-auto {
    height: 99vh !important;
  }
  #qrcode canvas{
    width: 256px !important;
  }

  h1{
    font-size: 3.5em!important;
  }/* Cambiar el ancho */
  .swal2-popup{
    width: 699px!important;
  }
  .swal2-title {
    font-size: 45px !important;
  }
  
  .swal2-content {
    font-size: 18px !important;
  }
.swal2-styled.swal2-confirm{
    padding: 21px!important;
    font-size: 2em!important;
    background-color: #599b6c!important;
}
.swal2-styled.swal2-confirm:active{
    background-color: #599b6c!important;
}
button:active{
    background-color: #599b6c!important;
}

#swal2-content{
    font-size: 38px;

}