/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
  }
  
  body {
    display: flex;
    margin: 0;
    padding: 0;
    /* background-image: url(img/Diseño\ sin\ título\ \(6\).png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 94vh;
    align-content: space-around;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    height: auto;
    background: #fff;
    padding: 64px;
    width: 80%;
    max-width: 700px;
    border-radius: 8px;
    box-shadow: 3px 7px 9px rgb(0 0 0 / 55%)
  }
  
  .modal-footer {
    margin-top: 22px;
    text-align: center;
    /* padding-top: 100px; */
  }
  
  /* Estilos de los elementos del modal */
  .modal h4 {
    margin-top: 0;
    font-size: 34px;
  }
  
  label {
    font-size: 35px;
    font-weight: 500;
    margin-top: 14px;
  }
  
  input[type="text"],
  input[type="date"] {
    font-size: 26px;
    margin-bottom: 19px;
    width: 100%;
    padding: 21px;
    margin-top: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    font-size: 30px;
    background-color: #b97f77;
    color: white;
    padding: 22px 43px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}
  
  
 
  .containermod{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cardcointainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #companyLogo{
    width: 400px;
  }
  #voucherCard{
    justify-content: space-around;
    height:1340px ;
    width: 737px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #showHistory{
    margin-top: 247px;
    background-color:#8c938f;
  }.center-button {
    display: block;
    margin: auto;
    margin-top: -380px;
  }
  #voucherCard {
    margin-bottom: 32px;
    background: #ffffff; /* Fondo blanco */
    border: 2px solid #ccc; /* Borde gris */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 50px; /* Espaciado interno */
    text-align: center; /* Centrar el contenido de texto */
    font-size: 18px; /* Tamaño de fuente general */
    color: #333; /* Color de texto */
  }
  #voucherCard {
    /* background: rgb(195,167,179);
    background: linear-gradient(90deg, rgb(195 167 179 / 42%) 50%, rgb(111 116 201 / 20%) 100%); */
    background-image: url('img/alexander-grey-NkQD-RHhbvY-unsplash.jpg');
    background-size: cover; /* Esto hará que la imagen cubra todo el contenedor */
    background-position: center; /* Esto centrará la imagen */
  }
  
  #qrcode img{
    display: flex;
    width: 300px;
  }

  
  #qrcode {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #toText, #fromText, #validUntilText{
    font-size: 38px; 
color: #363636;
  }
  html body.swal2-height-auto {
    height: 99vh !important;
  }
  #qrcode canvas{
    width: 361px !important;
  }

  h1{
    font-size: 2.5em!important
  }/* Cambiar el ancho */
  .swal2-popup{
    width: 699px!important;
  }
  .swal2-title {
    font-size: 45px !important;
  }
  
  .swal2-content {
    font-size: 18px !important;
  }
.swal2-styled.swal2-confirm{
    padding: 21px!important;
    font-size: 2em!important;
    background-color: #599b6c!important;
}
.swal2-styled.swal2-confirm:active{
    background-color: #599b6c!important;
}
button:active{
    background-color: #599b6c!important;
}

#swal2-content{
    font-size: 38px;

}

#videoBG {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}

/* Ajusta el contenido del cuerpo */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}



.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-9-23 14:50:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
.titulo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo h2{
  letter-spacing: 6px;
  color: #333;
  font-family: 'Crimson Text','Montserrat', sans-serif;
  margin-top: 2px;
  font-size: 73px;
}

.titulo h1 {
  color: #314157;
  font-size: 63px!important;
}

#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
}
.custom-link {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Hereda el color del texto del elemento padre */
}

.custom-link h2 {
  font-size: 38px;

  color: inherit; /* Hereda el color del texto del elemento padre */
}
.custom-link {
  text-decoration: none;
  color: inherit;
}

.flex-container {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
}

.whatsapp-icon {
  width: 68px;
  height: 76px;
  margin-right: 10px;}
h2 {
  margin: 0; /* Elimina el margen predeterminado del h2 */
}


/* ----------------------------------------------
 * Generated by Animista on 2023-10-5 19:32:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}


.jello-horizontal {
  height: 235px;
	-webkit-animation: jello-horizontal 0.9s 2s infinite forwards;
	        animation: jello-horizontal 0.9s 2s infinite forwards;
}
.whatsapp-share-btn{
  font-size: 1em!important;
}